.cabecalho {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    background-color: #ff720d;
}

body {
    background-color: #422006;
}

.titulo-principal {
    text-align: center;
    padding: 12px 0 0 0;
    color: white;
}

.colunas{
    display: grid;
    padding: 100px 0;
    grid-template-columns: 33% 33% 33%;
    background-color: aqua;
}

.coluna{
    margin-left: 50px;
    padding: 20px;
    border: 3px solid red;
    border-radius: 20px;
}

.colunas2{
    display: grid;
    padding: 100px 0;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(18, 199, 42);

  }
  
  .coluna2{
    
    margin-left: 50px;
  padding: 20px;
  border: 3px solid red;
  border-radius: 20px;
  
  }